<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>men</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="/css/menstyle.css" rel="stylesheet">
</head>
<body>
    <div class="container-men">
        <div class="container-men-judul">
            <p>Product Men</p>
        </div>
        <div class="container-men-up">
            <div class="satu">
                <button>Tambah ke trolli</button>
            </div>
            <div class="dua">
                <button>Tambah ke trolli</button>
            </div>
            <div class="tiga">
                <button>Tambah ke trolli</button>
            </div>
            <div class="empat">
                <button>Tambah ke trolli</button>
            </div>
            <div class="lima">
                <button>Tambah ke trolli</button>
            </div>
        </div>
    </div>
   
      
       

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
